<div class="container">
    <div class="row">
        <div class="col-md-8 mb-2">
            <div class="card ps-4 py-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radiosoft" id="flexRadioDefault1" checked
                           @onchange="@(() => SoftUnitChanged(1))">
                    <label class="form-check-label" for="flexRadioDefault1">
                        1ère licence (@Cart.GetSoftwarePrice(1).ToString("0.00")€)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radiosoft" id="flexRadioDefault2"
                           @onchange="@(() => SoftUnitChanged(2))">
                    <label class="form-check-label" for="flexRadioDefault2">
                        + 1 licence supplémentaire (+ @Cart.GetSoftwarePrice(2).ToString("0.00")€)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radiosoft" id="flexRadioDefault3"
                           @onchange="@(() => SoftUnitChanged(3))">
                    <label class="form-check-label" for="flexRadioDefault3">
                        + 2 licences supplémentaires (+ @Cart.GetSoftwarePrice(3).ToString("0.00")€)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radiosoft" id="flexRadioDefault4"
                           @onchange="@(() => SoftUnitChanged(4))">
                    <label class="form-check-label" for="flexRadioDefault4">
                        + 3 licences supplémentaires (+ @Cart.GetSoftwarePrice(4).ToString("0.00")€)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radiosoft" id="flexRadioDefault5"
                           @onchange="@(() => SoftUnitChanged(5))">
                    <div class="hstack gap-1">
                        <label class="form-check-label" for="flexRadioDefault5">
                        
                            + 4 licences supplémentaires (+ @Cart.GetSoftwarePrice(5).ToString("0.00")€)
                        
                        </label> <a href="#" class="htooltip d-none d-md-block">
                            <img src="_content/ShoppingCart.UI/question.svg" width="22" border="0" />
                            <span>Au delà de 5 licences, nous consulter pour un devis</span>
                        </a>
                    </div>
                </div>
            </div>

            @if (Cart.OptionUnitPrice > 0) {
                <div class="card mt-2">
                    <div class="form-check ps-4 py-3">
                        <input class="form-check-input checkbox"
                               type="checkbox" 
                               value="" 
                               id="flexCheckDefault"
                               checked="@Cart.OptionUnit" 
                               @oninput="OptionChecked">
                        <label class="form-check-label" for="flexCheckDefault">
                            Option HTML (+ @Cart.OptionUnitPrice.ToString("0.00")€)
                            <a href="#" class="htooltip">
                                <img src="_content/ShoppingCart.UI/question.svg" width="22" border="0" />
                                <span>Cette option permet de créer les pages HTML de votre planning.</span>
                            </a>
                        </label>
                    </div>
                </div>
            }

            @if (Cart.ModuleUnitPrice > 0) {
                 <div class="card mt-2" >
                    <div class="ps-4 py-4 row">
                        <div class=" col-auto order-last order-md-first">
                            <input class="form-control"
                                   type="number"
                                   id="flexCheckDefault"
                                   min="0"
                                   max="10"
                                   style="width:100px;"
                                   @bind="ModuleUnit"
                                   @bind:event="oninput" />
                        </div>
                        <label class="col-form-label col-auto" for="flexCheckDefault">
                            SodeaSoft Planning Viewer (+ @Cart.ModuleUnitPrice.ToString("0.00")€ par unité)
                            <a href="#" class="htooltip">
                                <img src="_content/ShoppingCart.UI/question.svg" width="22" border="0" />
                                <span>Ce module complémentaire permet à un collaborateur de votre réseau de visualiser en temps réel le planning, imprimer, voir le détail de chaque tâche mais aucunement de le modifier. Le Viewer est une licence flottante</span>
                            </a>
                        </label>
                    </div>
                </div>
            }

            @if (Cart.TrainingUnitPrice > 0) {
                <div class="card mt-2">
                    <div class="ps-4 py-4 row">
                        <div class=" col-auto order-last order-md-first">
                            <select class="form-select form-select-sm"
                                    id="selectTraining"
                                    @onchange="@TrainingUnitChanged">
                                <option value="0" >-</option>
                                @for (int i = 1; i <= Cart.SoftwareUnit; i++) {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                        <label class="col-form-label col-auto" for="selectTraining">
                            Formation en ligne. Session de 60 min. (@Cart.TrainingUnitPrice.ToString("0.00")€)
                            <a href="#" class="htooltip">
                                <img src="_content/ShoppingCart.UI/question.svg" alt="tooltip training" width="22" border="0" />
                                <span><b>Il vous faut un minimum d’apprentissage :</b><br>Notre formateur par Internet (en écran interposé) vous forme pour vous rendre rapidement opérationel.</span>
                            </a>
                        </label>
                    </div>
                </div>
            }
        </div>

        <div class="col-md-4">
            <h5>Votre panier</h5>

            <div class="card mt-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between flex-grow-1">
                            <span>Logiciel</span>
                            <span>@GetLabelQuantity(Cart.SoftwareUnit)</span>
                        </div>
                    </li>


                    @if (Cart.OptionUnit) {
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between flex-grow-1">
                                <span>Option</span>
                                <span>1 unité</span>
                            </div>
                        </li>
                    }

                    @if (Cart.ModuleUnit > 0) {

                        <li class="list-group-item">
                            <div class="d-flex justify-content-between flex-grow-1">
                                <span>Module</span>
                                <span>@GetLabelQuantity(Cart.ModuleUnit)</span>
                            </div>
                        </li>
                    }

                    @if (Cart.TrainingUnit > 0) {

                        <li class="list-group-item">
                            <div class="d-flex justify-content-between flex-grow-1">
                                <span>eFormation</span>
                                <span>@GetLabelQuantity(Cart.TrainingUnit)</span>
                            </div>
                        </li>
                    }

           
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between flex-grow-1">
                            <span class="total">Total</span>
                            <span class="total"> @Cart.TotalAmount.ToString("0.00")€ HT</span>
                        </div>
                    </li>
                </ul>
        </div>

        <button type="button" 
                class="btn btn-primary mt-4"
                @onclick="NextStep"
                disabled="@(Cart.TotalAmount == 0)">
                Etape suivante
        </button>

    </div>
    </div>
</div>